* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	background: linear-gradient(to top left, #a0a4d1, #b490d6);
}
li {
	display: inline-block;
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.17rem;
}
h5 {
	font-size: .83rem;
}
h6 {
	font-size: .75rem;
}
h1, h2, h3, h4, h5, h6 {
	margin: .8rem 0;
	font-weight: normal;
}
input, button {
	border: none;
	outline: none;
}
.clearfix::after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}
.clearfix {
	zoom: 1;
}
.logo, .header-nav {
	float: left;
}
.container {
	position: relative;
	margin: 0 auto;
	width: 60%;
	min-height: 100vh;
}
/* header style start--------------------------------- */
.header {
	padding: 2rem 0;
	height: 10rem;
}
.logo {
	margin-top: .4rem;
	width: 8rem;
	height: 8rem;
}
.logo img {
	width: 100%;
	height: 100%;
}
.header-nav{
	float: right;
	width: 42rem;
}
.header-nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	width: 100%;
}
.header-nav ul li {
	color: #f5f5f5;
	line-height: 2rem;
	margin-left: 1.1rem;
}
#nav-toggle {
	opacity: 0;
}
/* header style end--------------------------------- */
/* main style start--------------------------------- */
.main {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	min-height: 40vh;
}
.input-group, .platform {
	margin: .8rem 0;
}
.input-group {
	width: 20rem;
	font-size: 0;
}
.input-group input {
	padding: 0 1rem 0 1.5rem;
	width: 75%;
	height: 2rem;
	font-size: 1rem;
	border: none;
	border-radius: 1rem 0 0 1rem;
}
.input-group button {
	width: 25%;
	height: 2rem;
	font-size: 1rem;
	border: none;
	border-radius: 0 1rem 1rem 0;
	background: #ff3366;
	vertical-align: top;
}
.platform {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	width: 21rem;
}
.platform img {
	margin-top: .5rem;
}
/* main style end--------------------------------- */
/* footer style start--------------------------------- */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #2a2951;
}
.footer-top, .footer-middle, .footer-bottom {
	padding: 1rem;
	font-size: .8rem;
	color: #f5f5f5;

}
.footer-nav, .footer-top-right {
	height: 10rem;
	display: inline-block;
	vertical-align: top;
}
.footer-nav {
	width: 27rem;
	font-size: 0;
}
.footer-nav ul {
	display: inline-block;
	width: 9rem;
	font-size: .8rem;
	vertical-align: top;
}
.footer-nav ul li {
	width: 100%;
	height: 2rem;
	line-height: 2rem;
}
.footer-top-right {
	width: 21rem;
}
.footer-middle, .footer-bottom {
	border-top: 1px solid #666;
}
.footer-middle {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}
.footer-middle > span {
	margin-right: 1rem;
}
.promo {
	margin-left: 5rem;
	padding: .3rem 0 .3rem .3rem;
	width: 10rem;
	border-radius: 1rem;
	background: #ff3366;
}
.promo-play {
	border-radius: 1rem;
	vertical-align: top;
}
.promo span {
	margin-left: .5rem;
}
/* footer style end--------------------------------- */
/* media 响应样式 */
@media screen and (min-width: 1080px) and (max-width: 1340px) {
	.container {
		width: 90%;
	}
}
@media screen and (max-width: 1080px) {
	.container {
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
	}
	.main h1 {
		opacity: 0;
	}
	
	.logo {
		margin-top: 4rem;
	}
	#nav-toggle ~ label {
		position: absolute;
		right: 2rem;
		display: inline-block;
		width: 2rem;
		font-size: 0;
		z-index: 9;
	}
	#nav-toggle ~ label:hover {
		cursor: pointer;
	}
	#nav-toggle ~ label span {
		display: inline-block;
		margin: .2rem 0;
		width: 2rem;
		height: .2rem;
		font-size: 1rem;
		background: #f5f5f5;
	}
	#nav-toggle:checked ~ .header-nav {
		z-index: 8;
		opacity: 1;
	}
	.header-nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		transition: all .3s ease-in-out;
		background: #2a2951;
		z-index: -1;
		opacity: 0;
	}
	.header-nav ul {
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		padding: 5rem 0; 
		width: 100%;
		height: 100%;
	}
	.header-nav ul li {
		display: inline-block;
		margin-left: 0;
		width: 100%;
		height: 3rem;
		line-height: 3rem;
		text-align: center;
		color: #f5f5f5;
	}
	.header-nav ul li a {
		display: inline-block;
		width: 100%;
		height: 100%;
	}
}
@media screen and (max-width: 820px) {
	#nav-toggle ~ label {
		top: 1rem;
		right: 1rem;
	}
	.input-group, .platform {
		width: 90%;
	}
	.footer-top {
		display: none;
	}
}
@media screen and (max-width: 420px) {
	.container {
		justify-content: space-between;
	}
	.footer {
		position: relative;
	}
	.footer-middle {
		flex-flow: column wrap;
		justify-content: space-between;
	}
	.promo {
		order: 1;
		margin-left: 0;
	}
	.footer-contact {
		margin-top: .5rem;
		order: 3;
	}
	.footer-follow {
		margin-top: 1rem;
		order: 2;
	}
}